
.root {
  width: 100%;
}

.scroller {
  width: 100%;
  overflow: hidden;
}

.canvas {
  width: 100%;
  flex: 0 0 auto;
}

.axis {
  position: relative;
  width: 100%;
  height: 18px;
  margin-top: 10px;
  color: var(--text-muted);
  font-size: var(--text-sm);

  span {
    position: absolute;
    top: 0;
    width: 28px;
    white-space: nowrap;
  }
}

.tooltipContent {
  display: flex;
  flex-direction: column;
}
